.Rproj.user
.Rhistory
.RData/
.Ruserdata
categorical_attrition/plots/
categorical_attrition/processed_data/
categorical_attrition/zold/
total_attrition/plots/
total_attrition/processed_data/
total_attrition/summaries/
total_attrition/zold/
vivli/

temp_code.R
